language: node_js
node_js: 
  - 13
branches:
  only:
    - hexo
install:
  - npm install hexo
script:
  - hexo clean
  - hexo g
after_script:
  - cd ./public
  - git init
  - git config user.name "shepherdev"
  - git config user.email "shepherd2001@163.com"
  - git add .
  - git commit -m "Travis CI Auto Builder at $(date +'%Y-%m-%d')"
  - git push --force --quiet "https://${ACCESS_TOKEN}@github.com/shepherdev/shepherdev.github.io.git" master:master

